.card {
  width: 18rem;
  height: 6em;
  float: left;
}

.col-md-8{
  height: 100%;
  overflow: auto;
}

.col-md-2{
  width: 20rem; 
  height: 100%; 
  overflow: auto;
}

div.bottom {
  clear: both;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.pagination li a:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.pagination-rounded li a {
  border-radius: 50px!important;
  margin: 0 0.3rem;
}

.pagination li a {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item a.active{
  background-color: dodgerblue;
  color: white;
}

a {
  text-decoration: none;
}
