<app-nav-bar (movieEvent)="receiveMovies($event)"></app-nav-bar>
<header>Movie Selector</header>
<div>
  <h2>Most Popular Movies:</h2>
  <ng-container *ngIf="myData.length;else notFound;">
    <div class="movieContainer">
      <div *ngFor="let movie of myData" class="movieCard">
        <h3 (click)="movieDetails(movie.id)">{{movie.title}}</h3>
        <div class="module line-clamp">
          <p> {{movie.overview}} </p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notFound>
    <div>
      Not Found!
    </div>
  </ng-template>
</div>
<hr/>
<div class="bottom">
  <nav class="pagination-rounded" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link" aria-label="Previous">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link">1</a>
      </li>
      <li class="page-item active">
        <a href="javascript:void(0);" class="page-link">2</a>
      </li>
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link">3</a>
      </li>
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link">4</a>
      </li>
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link">5</a>
      </li>
      <li class="page-item">
        <a href="javascript:void(0);" class="page-link" aria-label="Next">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
