<app-nav-bar></app-nav-bar>
<div class="row d-flex">
  <div class="col-md-2">
    <div class="bg-dark" style="height: 49.5rem;"></div>
  </div>

  <div class="col-md-8 ">
    <section class=" position-absolute top-50 start-50 translate-middle">
      <div class="card mb-3 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 50 em;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{myMovie.poster_path}} class="img-fluid rounded-start" alt="Poster from the Movie">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{myMovie.title}}</h5>
              <p class="card">{{myMovie.overview}}</p>
              <p class="card">Runtime: {{myMovie.runtime}} minutes</p>
              <p class="card">Vote average: {{myMovie.vote_average}} points</p>
              <p class="card">Vote count: {{myMovie.vote_count}} points</p>
              <p class="card">Release date: {{myMovie.release_date}}</p>

              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="col-md-2 bg-dark">
    <div class="bg-dark" style="height: 49.5rem;"></div>
  </div>
</div>
